{% extends 'bookings/base.html' %}

{% block title %}Sobre la autora{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3 class="mb-4">Sobre la autora:</h3>
        <p>Mi nombre es Sara García, tengo 31 años y, tras haber estudiado Filología Clásica y Música con especialidad en Canto Jazz, encontré una nueva vocación en tecnología al haber trabajado durante 7 años en diferentes puestos de atención al cliente para Google.</p>

        <p>Estos son mis primeros pasos en Python y en la programación tras haber cursado Data Analytics en Coder, pero espero que sea solo el principio del camino, ya que me apasiona saber cómo funcionan las cosas detrás de lo que vemos cada día.</p>

        <p>Mi pasatiempo favorito es leer todo lo que pueda en el menor tiempo posible; en especial fantasía, realismo mágico, divulgación histórica y divulgación científica.</p>

        <p>La base de este proyecto es unir mi propia experiencia como estudiante de música con la programación, para facilitar la coordinación entre los estudiantes que están empezando el aprendizaje grupal y los profesionales que les guían.</p>
    </div>
</div>
{% endblock content %}